.About{
    width:80%;
    display: flex;
    flex-direction: column;
    margin-top:80px;
    max-width:1700px;
}
.about-me{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom:130px;
    position:relative;
    font-size:14px;
}
.about-hero{
    height:100%;
    width:100%;
    position:absolute;
    overflow:hidden;
    z-index:-4;
}
.about-hero img{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me h2{
    margin-bottom:30px;
}
.me-content{
    display: flex;
    justify-content: center;
}
.me-content .me-img{
    height:300px;
    width:250px;
    background: white;
    margin-right:50px;
    background:url('../assets/temp-about.jpg');
    object-fit: contain;
    background-size: cover;
    overflow: hidden;
    border-radius: 5px;
}
.me-text{
    width:55%;
    border-bottom: 0.5px solid white;
    line-height:185%;
    padding-bottom: 50px;
}
.me-text p{
    margin-bottom:20px;
}
.about-blogs{
    display: flex;
    flex-direction: column;
    width:80%;
    margin-bottom:130px;
    font-size:14px;
}
.about-blogs h2{
    align-self:left;
    margin-bottom:40px;
}
.about-blogs p{
    line-height: 200%;
}
.about-content{
    display: flex;
    flex-direction: column;
    width:80%;
    align-self: center;
    max-width:1100px;
}
.about-content h2{
    align-self:center;
    margin-bottom: 50px;;
}
.about-content div{
    margin: 40px 0px;
    display: flex;
    justify-content: space-around;
}
.about-content p{
    width:200px;
    text-align: center;
}


@media (max-width:750px){
    .me-content{
        flex-direction: column;
        align-items: center;
    }
    .me-content  .me-img{
        margin: 0 0 50px 0;
        max-width:100%;
    }
    .me-text{
        padding-bottom: 50px;
        width:70%;
    }
    .about-blogs{
        width:100%
    }
}

@media (max-width:600px){
    .About{
        margin-bottom:50px;
        width:85%;
    }
    .me-text{
        width:100%;
    }
    .about-content{
        width:100%;
    }
    .about-content p{
        font-size: 12px;
    }
}

@media (max-width:400px){
    .about-content h2{
        font-size:19px;
    }
    .about-content p{
        font-size:10px;
    }
}

@media (max-width:300px){
    .about-content div{
        flex-wrap: wrap;
        margin: 20px 0px;
    }
    .about-content p{
        margin-bottom:10px;
    }
}