.Articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:50px;
    width:100%;
    max-width:1900px;
}
.articles-desc{
    margin-bottom:20px;
    text-align: center;
}
.articles-desc > h3, .articles-desc > p{
    margin-bottom:30px;
}