.Card{
    height:auto;
    min-height:200px;
    width:100%;
    justify-self:center;
    border-radius:5px;
    overflow: hidden;
    position:relative;
    bottom:0;
    right:0;
}
.Card a{
    text-decoration: none;
    color:black;
}
.link{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
}
.card-image{
    width:100%;
    background: #1D1D1D;
    min-height: 250px;
    margin-bottom:180px;
}
.card-description{
    width:90%;
    height:auto;
    min-height:230px;

    /* background: #FDF8EA; */

    background:white;
    padding:20px 15px 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:absolute;
    z-index: 4;
    bottom:0px;
    left:50%;
    transform: translateX(-50%);
    transition: all 0.2s ease-in-out;
}
.Card:hover > .link > .card-description{
    bottom:10px;
    box-shadow: 5px 5px 10px 1px black;
}
.desc h2{
    margin-bottom:10px;
    font-size:21px;
}
.desc p{
    line-height:150%;
    font-size:15px;
    margin-bottom:20px;
}
.card-date{
    font-size:14px;
    font-weight: bold;
}

@media (max-width: 800px){
    .desc h2{
        font-size: 16px;
    }
    .desc p{
        font-size:12px;
    }
    .card-date{
        font-size:12px;
    }
}

@media (max-width:450px){
    .card-image{
        min-height: 200px;
        margin-bottom: 150px;
    }
    .card-description{
        min-height:200px;
    }
    .desc h2{
        font-size: 16px;
    }
    .desc p{
        font-size:12px;
    }
}