.Card{
    height:200px;
    margin-bottom: 80px;
    display: flex;
    max-width:80%;
    border:white 1px solid;
}
.card-image{
    width:350px;
    background: #1D1D1D;
    height:100%;
}
.card-description{
    width:550px;
    height:100%;
    background: #FDF8EA;
}