.Footer{
    width:100%;
    background: #FDF8EA;
    color:black;
    height:50px;
    margin-top:auto;
}
.footer-content{
    width:90%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width:1900px;
}
.footer-links{
    display: flex;
}
.div{
    border:1px solid black;
    width:0.5px;
}
.space{
    margin-left:15px;
}

@media (max-width:600px){
    .Footer{
        height:auto;
        margin-top:0;
    }
    .footer-content{
        flex-direction: column;
        margin:30px auto 30px auto;
    }
    .footer-content > p{
        margin-bottom:30px;
    }
    .footer-links p{
        font-size:12px;
    }
}