.Hero{
    width:100%;
    margin-top:30px;
    height:500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-intro{
    width:45%;
}
.hero-intro h3{
    font-size:35px;
}
.hero-intro p{
    font-size:21px;
}
.hero-illustration{
   width:50%;
   height: 100%;
   display: grid;
   place-content: center;
}
.illustration{
    position: relative;
    max-width:250px;
    height:100%;
    display: flex;
}
.person{
    width:100%;
    z-index: 2;
}
.circle{
    background: #FDF8EA;
    position: absolute;
    height:300px;
    width:300px;
    right:-5px;
    top:-10px;
    border-radius: 50%;
}