.Hero{
    width:80%;
    margin:50px auto 0 auto;
    height:500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width:1700px;
}
.hero-intro{
    width:45%;
}
.hero-intro h3{
    font-size:35px;
}
.hero-intro p{
    font-size:21px;
}
.hero-illustration{
   width:50%;
   height: 100%;
   display: grid;
   place-content: center;
}
.illustration{
    position: relative;
    max-width:250px;
    height:100%;
    display: flex;
}
.person{
    width:100%;
    z-index: 2;
}
.circle{
    background: #FDF8EA;
    position: absolute;
    height:300px;
    width:300px;
    right:-5px;
    top:-10px;
    border-radius: 50%;
}

@media (max-width:1025px){
    .hero-illustration{
        width:35%;
    }
    .circle{
        height:250px;
        width:250px;
    }
}

@media (max-width: 800px){
    .hero-intro p{
        font-size: 16px;
    }
    .hero-illustration{
        width:30%;
    }
    .circle{
        height:200px;
        width:200px;
    }
}

@media (max-width:600px){
    .Hero{
        position:relative;
        height:auto;
        width:85%;
        flex-direction:column-reverse;
        margin-top:30px;
    }
    .hero-intro{
        width:100%;
        padding-bottom:20px;
    }
    .hero-intro h3{
        font-size: 21px;
    }
    .hero-intro p{
        font-size:14px;
    }
    .hero-illustration{
        width:35%;
        margin-bottom:30px;
    }
    .person{
        width:90%;
    }
    .circle{
        display: none;
    }
}