.Home{
    width:80%;
    max-width:1900px;
}
.divider{
    width:80%;
    margin:30px auto 30px auto;
    display: grid;
    place-content: center;
}
.dots{
    display: flex;
}
.dot{
    height:15px;
    width:15px;
    border-radius: 50%;
    background: white;
    margin: 0 5px 0 5px;
}