.nav-bar{
    width:80%;
    margin:0 auto 0 auto;
    display:flex;
    max-width:1700px;
    margin-top:20px;
    position:relative;
    height:5vh;
    min-height:50px;
    align-items: center;
}
.logo{
    position:absolute;
    height:100%;
    top:0;
}
.logo a{
    text-decoration: none;
    color:white;
}
.main-logo{
    height:100%;
}
.nav-menu{
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    height:44px;
}
.nav-menu ul{
    display:flex;
}
.nav-menu li{
    list-style: none;
    font-weight: bold;
    color:white;
}
.nav-menu a{
    margin: 0 25px 0 25px;
    text-decoration: none;
    position:relative;
}

.nav-menu a::after{
    content: '';
    position:absolute;
    background: #B07F50;
    left:0;
    bottom:-5px;
    border-bottom:1px solid #B07F50;
    height:1px;
    width: 0%;
    transition: width 0.3s ease;

}

.nav-menu a:hover:after{
    width:100%;
}

.nav-menu li:hover{
    transition: color 0.1s ease-in;
    color:#B07F50;
}

@media (max-width:800px){
    .nav-menu{
        justify-content: right;
    }
    .nav-menu a{
        margin: 0 20px 0 20px;
    }
}

@media (max-width:600px){
    .nav-bar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:auto;
        width:95%;
        margin-top:20px;
    }
    .logo{
        position:static;
        margin-bottom:0px;
        height:50px;
    }
    .logo img{
        width:100%;
    }
    .nav-menu ul{
       justify-content: center;
       align-items: center;
       font-size:14px;
    }
    .nav-menu{
        justify-content: center;
        margin-top:10px;
    }
}