.App{
    min-height:100%;
    display: flex;
    flex-direction:column;
}
.main-container{
    margin-bottom:50px;
    width:100%;
    margin-bottom:60px;
    display: flex;
    justify-content: center;
}

@media (max-width:600px){
    .main-container{
        margin-bottom: 0;
    }
}