@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

.App{
    background:#1D1D1D;
    height:100vh;
    width:100%;
    color:white;
    font-family: 'Montserrat', sans-serif;
}